#move-tool > div {
  background-image: url("../img/icons/tool-bar/move.png");
}

#rotate-tool > div {
  background-image: url("../img/icons/tool-bar/rotate.png");
}

#scale-tool > div {
  background-image: url("../img/icons/tool-bar/scale.png");
}

#color-tool > div {
  background-image: url("../img/icons/tool-bar/color.png");
}

#square-tool > div {
  background-image: url("../img/icons/tool-bar/square.png");
}

#semi-circle-tool > div {
  background-image: url("../img/icons/tool-bar/semi-circle.png");
}

#triangle-tool > div {
  background-image: url("../img/icons/tool-bar/triangle.png");
}

#push-hard-up-tool > div {
  background-image: url("../img/icons/tool-bar/double-arrow.png");
}

#push-up-tool > div {
  background-image: url("../img/icons/tool-bar/arrow.png");
}

#push-down-tool > div {
  background-image: url("../img/icons/tool-bar/arrow.png");
  rotate: 180deg;
}

#push-hard-down-tool > div {
  background-image: url("../img/icons/tool-bar/double-arrow.png");
  rotate: 180deg;
}

#delete-tool > div {
  background-image: url("../img/icons/tool-bar/delete.png");
}

#save-pattern-tool > div {
  background-image: url("../img/icons/tool-bar/pattern.png");
}

#compile-tool > div {
  background-image: url("../img/icons/tool-bar/compile.png");
}

#top-bar[data-tool=move] #move-tool {
  background-color: rgba(171, 192, 241, 0.4509803922) !important;
}
#top-bar[data-tool=move] #move-tool > div {
  filter: invert(100%) !important;
}

#top-bar[data-tool=rotate] #rotate-tool {
  background-color: rgba(171, 192, 241, 0.4509803922) !important;
}
#top-bar[data-tool=rotate] #rotate-tool > div {
  filter: invert(100%) !important;
}

#top-bar[data-tool=scale] #scale-tool {
  background-color: rgba(171, 192, 241, 0.4509803922) !important;
}
#top-bar[data-tool=scale] #scale-tool > div {
  filter: invert(100%) !important;
}

#top-bar[data-tool=color] #color-tool {
  background-color: rgba(171, 192, 241, 0.4509803922) !important;
}
#top-bar[data-tool=color] #color-tool > div {
  filter: invert(100%) !important;
}

#top-bar[data-tool=square] #square-tool {
  background-color: rgba(171, 192, 241, 0.4509803922) !important;
}
#top-bar[data-tool=square] #square-tool > div {
  filter: invert(100%) !important;
}

#top-bar[data-tool=triangle] #triangle-tool {
  background-color: rgba(171, 192, 241, 0.4509803922) !important;
}
#top-bar[data-tool=triangle] #triangle-tool > div {
  filter: invert(100%) !important;
}

#top-bar[data-tool=semi-circle] #semi-circle-tool {
  background-color: rgba(171, 192, 241, 0.4509803922) !important;
}
#top-bar[data-tool=semi-circle] #semi-circle-tool > div {
  filter: invert(100%) !important;
}

#top-bar[data-tool=push-hard-up] #push-hard-up-tool {
  background-color: rgba(171, 192, 241, 0.4509803922) !important;
}
#top-bar[data-tool=push-hard-up] #push-hard-up-tool > div {
  filter: invert(100%) !important;
}

#top-bar[data-tool=push-up] #push-up-tool {
  background-color: rgba(171, 192, 241, 0.4509803922) !important;
}
#top-bar[data-tool=push-up] #push-up-tool > div {
  filter: invert(100%) !important;
}

#top-bar[data-tool=push-down] #push-down-tool {
  background-color: rgba(171, 192, 241, 0.4509803922) !important;
}
#top-bar[data-tool=push-down] #push-down-tool > div {
  filter: invert(100%) !important;
}

#top-bar[data-tool=push-hard-down] #push-hard-down-tool {
  background-color: rgba(171, 192, 241, 0.4509803922) !important;
}
#top-bar[data-tool=push-hard-down] #push-hard-down-tool > div {
  filter: invert(100%) !important;
}

#top-bar[data-tool=delete] #delete-tool {
  background-color: rgba(171, 192, 241, 0.4509803922) !important;
}
#top-bar[data-tool=delete] #delete-tool > div {
  filter: invert(100%) !important;
}

#scale-x-button > div {
  background-image: url("../img/icons/scale-tool-bar/expand.png");
}

#scale-y-button > div {
  background-image: url("../img/icons/scale-tool-bar/expand.png");
  rotate: 90deg;
}

#scale-tool-data[data-direction=horizontal] #scale-x-button {
  background-color: rgba(171, 192, 241, 0.4509803922) !important;
}
#scale-tool-data[data-direction=horizontal] #scale-x-button > div {
  filter: invert(100%) !important;
}

#scale-tool-data[data-direction=vertical] #scale-y-button {
  background-color: rgba(171, 192, 241, 0.4509803922) !important;
}
#scale-tool-data[data-direction=vertical] #scale-y-button > div {
  filter: invert(100%) !important;
}

#scale-pos-button > div {
  background-image: url("../img/icons/scale-tool-bar/positive.png");
}

#scale-neg-button > div {
  background-image: url("../img/icons/scale-tool-bar/negative.png");
}

#scale-tool-data[data-sign=pos] #scale-pos-button {
  background-color: rgba(171, 192, 241, 0.4509803922) !important;
}
#scale-tool-data[data-sign=pos] #scale-pos-button > div {
  filter: invert(100%) !important;
}

#scale-tool-data[data-sign=neg] #scale-neg-button {
  background-color: rgba(171, 192, 241, 0.4509803922) !important;
}
#scale-tool-data[data-sign=neg] #scale-neg-button > div {
  filter: invert(100%) !important;
}

#scale-1-button > div {
  background-image: url("../img/icons/scale-tool-bar/1.png");
}

#scale-5-button > div {
  background-image: url("../img/icons/scale-tool-bar/5.png");
}

#scale-10-button > div {
  background-image: url("../img/icons/scale-tool-bar/10.png");
}

#scale-tool-data[data-amount="1"] #scale-1-button {
  background-color: rgba(171, 192, 241, 0.4509803922) !important;
}
#scale-tool-data[data-amount="1"] #scale-1-button > div {
  filter: invert(100%) !important;
}

#scale-tool-data[data-amount="5"] #scale-5-button {
  background-color: rgba(171, 192, 241, 0.4509803922) !important;
}
#scale-tool-data[data-amount="5"] #scale-5-button > div {
  filter: invert(100%) !important;
}

#scale-tool-data[data-amount="10"] #scale-10-button {
  background-color: rgba(171, 192, 241, 0.4509803922) !important;
}
#scale-tool-data[data-amount="10"] #scale-10-button > div {
  filter: invert(100%) !important;
}

/*# sourceMappingURL=top-buttons.css.map */
