#move-tool > div {
  background-image: url("../img/move.png");
}

#rotate-tool > div {
  background-image: url("../img/rotate.png");
}

#scale-tool > div {
  background-image: url("../img/scale.png");
}

#color-tool > div {
  background-image: url("../img/color.png");
}

#square-tool > div {
  background-image: url("../img/square.png");
}

#semi-circle-tool > div {
  background-image: url("../img/semi-circle.png");
}

#triangle-tool > div {
  background-image: url("../img/triangle.png");
}

#push-hard-up-tool > div {
  background-image: url("../img/double-arrow.png");
}

#push-up-tool > div {
  background-image: url("../img/arrow.png");
}

#push-down-tool > div {
  background-image: url("../img/arrow.png");
  rotate: 180deg;
}

#push-hard-down-tool > div {
  background-image: url("../img/double-arrow.png");
  rotate: 180deg;
}

#delete-tool > div {
  background-image: url("../img/delete.png");
}

#save-pattern-tool > div {
  background-image: url("../img/pattern.png");
}

#compile-tool > div {
  background-image: url("../img/compile.png");
}

#top-bar[data-tool=move] #move-tool {
  background-color: rgba(171, 192, 241, 0.4509803922) !important;
}
#top-bar[data-tool=move] #move-tool > div {
  filter: invert(100%) !important;
}

#top-bar[data-tool=rotate] #rotate-tool {
  background-color: rgba(171, 192, 241, 0.4509803922) !important;
}
#top-bar[data-tool=rotate] #rotate-tool > div {
  filter: invert(100%) !important;
}

#top-bar[data-tool=scale] #scale-tool {
  background-color: rgba(171, 192, 241, 0.4509803922) !important;
}
#top-bar[data-tool=scale] #scale-tool > div {
  filter: invert(100%) !important;
}

#top-bar[data-tool=color] #color-tool {
  background-color: rgba(171, 192, 241, 0.4509803922) !important;
}
#top-bar[data-tool=color] #color-tool > div {
  filter: invert(100%) !important;
}

#top-bar[data-tool=square] #square-tool {
  background-color: rgba(171, 192, 241, 0.4509803922) !important;
}
#top-bar[data-tool=square] #square-tool > div {
  filter: invert(100%) !important;
}

#top-bar[data-tool=triangle] #triangle-tool {
  background-color: rgba(171, 192, 241, 0.4509803922) !important;
}
#top-bar[data-tool=triangle] #triangle-tool > div {
  filter: invert(100%) !important;
}

#top-bar[data-tool=semi-circle] #semi-circle-tool {
  background-color: rgba(171, 192, 241, 0.4509803922) !important;
}
#top-bar[data-tool=semi-circle] #semi-circle-tool > div {
  filter: invert(100%) !important;
}

#top-bar[data-tool=push-hard-up] #push-hard-up-tool {
  background-color: rgba(171, 192, 241, 0.4509803922) !important;
}
#top-bar[data-tool=push-hard-up] #push-hard-up-tool > div {
  filter: invert(100%) !important;
}

#top-bar[data-tool=push-up] #push-up-tool {
  background-color: rgba(171, 192, 241, 0.4509803922) !important;
}
#top-bar[data-tool=push-up] #push-up-tool > div {
  filter: invert(100%) !important;
}

#top-bar[data-tool=push-down] #push-down-tool {
  background-color: rgba(171, 192, 241, 0.4509803922) !important;
}
#top-bar[data-tool=push-down] #push-down-tool > div {
  filter: invert(100%) !important;
}

#top-bar[data-tool=push-hard-down] #push-hard-down-tool {
  background-color: rgba(171, 192, 241, 0.4509803922) !important;
}
#top-bar[data-tool=push-hard-down] #push-hard-down-tool > div {
  filter: invert(100%) !important;
}

#top-bar[data-tool=delete] #delete-tool {
  background-color: rgba(171, 192, 241, 0.4509803922) !important;
}
#top-bar[data-tool=delete] #delete-tool > div {
  filter: invert(100%) !important;
}

/*# sourceMappingURL=top-buttons.css.map */
