@use "./vars.scss" as *;

div {
    color: $text-color;
}

body {
    margin: 0px;
    background-color: $body-color;
    overflow: hidden;
    user-select: none;
    font-family: Consolas, 'Courier New', monospace;
}

@mixin top-bar-section {
    position: absolute;
    visibility: hidden;
    width: 50%;
    height: 50%;
}

#shapes-section {
    @include top-bar-section;
}

#top-bar {
    position: absolute;
    width: 100vw;
    height: 12.5vh;
    border-bottom: $border-size solid $line-color;
    display:inline-block;
}

#title {
    font-size: 4vh;
    margin-top: 1.25vh;
    margin-left: 1.25vh;
    display:inline;
    // position: absolute;
}

#section-picker {
    // display:inline;
    // position: absolute;
    // padding-top: 5px;
}

.section-picker-button {
    display:inline;
    /* margin-left: 1%; */
    color: $unactive-text;
    padding-bottom: 2px;
    font-size: 125%;

    transition-property: color;
    transition-duration: .5s;
}

@mixin section-picked {
    color:         $active-text;
    border-bottom: $border-size solid #ffc400;
}

#top-bar[data-section="shapes"] #section-picker-shapes {
    @include section-picked
}

#top-bar[data-section="settings"] #section-picker-settings {
    @include section-picked
}

$button-size: 3.5vh;
.tool-selection {
    position: absolute;
    left: 5vh;
    top: 7vh;
    background-color: #f8f8f82a;
    height: $button-size;
    border-radius: 1vh;
    font-size: 0px;
}

#edit-tool-selection {
    left: 22vh;
}

#zindex-tool-selection {
    left: 39vh;
}

#shape-color-input {
    position: absolute;

    top: 7vh;
    left: 49vh;
    width: calc($button-size * 1.5);
    height: $button-size;

    border: none;
    padding: 0px;
    background-color: transparent;
    color: transparent;
}

.tool-button {
    /* position: absolute; */
    width: $button-size;
    height: $button-size;
    display: inline-block;

    border-radius: 1vh;
    margin-right: .25vh;

    transition: background-color .5s;

    &:hover {
        background-color: $hovered-tool;
    }

    &:last-child {
        margin-right: 0px;
    }

    & > div {
        width: 100%;
        height: 100%;

        border-radius: 1vh;

        background-size: 80% 80%;
        background-repeat: no-repeat;
        background-position: center center;
        filter: invert(100%) brightness(50%);

        transition: filter .5s;
    }
}