$body-color: #1F2430;
$container-color: #707A8C;

$text-color: #c4c4c4;
$line-color: #1A1F29;

$unactive-text: #7a7a7a;
$active-text: #bdbdbd;

$selected-tool: #abc0f173;
$hovered-tool: #27272773;

$border-size: 3px;