div {
    color: var(--text-color);
}

body {
    margin: 0px;
    background-color: var(--body-color);
    overflow: hidden;
    user-select: none;
    font-family: Consolas, 'Courier New', monospace;
}

#top-bar {
    position: absolute;
    width: 100vw;
    height: 12.5vh;
    border-bottom: 2px solid var(--line-color);
    display:inline-block;
}

#title {
    font-size: 4vh;
    top: 1.25vh;
    left: 1.25vh;
    position: absolute;
}

#section-picker {
    display:inline;
    position: absolute;
    left: 75%;
    top: 30%;
}

.section-picker-button {
    display:inline;
    /* margin-left: 1%; */
    color: var(--unactive-text);
    padding-bottom: 2px;
    font-size: 150%;
}

#top-bar[data-section="shapes"] > div > #section-picker-shapes {
    color:         var(--active-text);
    border-bottom: var(--border-size) solid #ffc400;
}

#top-bar[data-section="settings"] > div > #section-picker-settings {
    color:         var(--active-text);
    border-bottom: var(--border-size) solid #ffc400;
}

.tool-selection {
    width: 4em;
    height: 4em;
    display: inline;
}

#move-tool {
    
}