body {
    margin: 0px;
    background-color: #363636;
    overflow: hidden;
    user-select: none;
}

#shapeContainer {
    position: absolute;
    /* width: 100vw;
    height: 100vh; */
    pointer-events: none;
}

.shape {
    position: absolute;
    /* transform-origin: 50% 50%; */
}

.triangle {
    fill: red;
    pointer-events: all;
}

.square {
    fill: red;
    pointer-events: all;
}

.halfCircle {
    fill: red;
    pointer-events: all;
}

#compileDisplay {
    position: absolute;
    width: 60%;
    height: 80%;
    border-radius: 10%;
    left: 20%;
    top: 10%;
    background-color: #5a5a5a;
    visibility: hidden;
    overflow-x:hidden;
    overflow-y:auto;
}

#compiledText {
    position: relative;
    width: calc(100% - 25px);
    height: calc(100% - 25px);
    left: 25px;
    word-wrap: normal;
    color: black;

    font-weight: 600;
    font-size: large;
    user-select: all;
}