body {
    margin: 0px;
    background-color: #827397;
    overflow: hidden;
    user-select: none;
}

#shapeContainer {
    position: absolute;
    /* width: 100vw;
    height: 100vh; */
    width: 80vh;
    height: 80vh;
    left: calc(50% - 40vh);
    top: 10vh;
    pointer-events: none;
    border-width: 2px;
    border-style: solid;
    border-color: #363062;

    border-radius: 2.5%;
}

.shape {
    position: absolute;
    pointer-events: all;
    /* transform-origin: 50% 50%; */
}

.triangle {
    pointer-events: all;
}

.square {
    pointer-events: all;
}

.halfCircle {
    pointer-events: all;
}

#compileDisplay {
    position: absolute;
    width: 60%;
    height: 80%;
    border-radius: 10%;
    left: 20%;
    top: 10%;
    visibility: hidden;
    overflow-x:hidden;

    background-color: #4D4C7D;

    border-width: 5px;
    border-color: #363062;
    border-style: solid;
}

#compiledText {
    position: absolute;
    width: calc(100% - 50px);
    height: calc(100% - 50px);
    left: 25px;
    top: 25px;
    word-wrap: normal;
    color: #E9D5CA;

    overflow-x:hidden;
    overflow-y:scroll;

    font-weight: 600;
    font-size: large;
    user-select: all;
}

#compiledText::-webkit-scrollbar {
    display: none;
  }

#HideCompileDisplay {
    position: absolute;
    left: 93%;
    top: 2%;
    pointer-events: all;
    color: #E9D5CA;
    font-size: 40px;
}

button {
    color: #E9D5CA;
    background-color: #4D4C7D;

    border-radius: 1vw;
    border-width: 5px;
    border-color: #363062;
    border-style: solid;

    font-size: large;

    transition: border-radius 0.5s;
    margin-bottom: .5em;
}

button:hover {
    border-radius: 2vw;
}

#CurrentTool {
    margin-left: 2%;
    color: #E9D5CA;
    font-size: 2em;
}

.DebugLine {
    position: absolute;
    background-color: blue;
}

#DebugLine2 {
    background-color: red;
}

#ColorInput {
    border-style: none;
    padding: 0%;
    background-color: #ffffff00;
}

path {
    fill: currentColor;
}