body {
    margin: 0px;
    background-color: #363636;
    overflow: hidden;
    user-select: none;
}

#shapeContainer {
    position: absolute;
    /* width: 100vw;
    height: 100vh; */
    pointer-events: none;
}

.shape {
    position: absolute;
    /* transform-origin: 50% 50%; */
}

.triangle {
    fill: red;
    pointer-events: all;
}