:root {
    --body-color: #1F2430;
    --container-color: #707A8C;
    --text-color: #c4c4c4;
    --line-color: #1A1F29;
    --unactive-text: #7a7a7a;
    --active-text: #bdbdbd;
    --border-size: 3px;

    --selected-tool: #abc0f173;
}